body {
    background-color: #1e1e1e;
    overflow: hidden;
}

.background {
    position: absolute;
    top: -1%;
    left: -1%;
    height: 101%;
    width: 101%;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    height: 20%;
    width: 30%;
    margin: 10px;
    margin-top: -7%;
    margin-left: -15%;

    background-color: #434343;
    border-radius: 15px;
    padding: 10px;

    box-shadow: 0px 0px 1vh 1vh rgba(0, 0, 0, 0.5);
}

.box_title {
    position: inherit;
    text-align: center;
    color: #cccccc;
    font-size: 2vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    float: left;
    padding: 2%;
    margin-left: 15%;
}

.box_text {
    position: inherit;
    position: relative;
    text-align: right;
    color: #cccccc;
    font-size: 1vw;
    font-weight: normal;
}

.pronouns {
    color: #ffb9e7;
    font-family: inherit;
    font-size: 0.8vw;
}

.pfp {
    position: inherit;
    top: 10%;
    left: 5%;
    max-width: 15%;
    max-height: auto;
    float: left;
    padding: 3%;
}

.link {
    position: inherit;
    align-content: left;
    max-width: 20%;
    max-height: auto;
    left:12%;
    padding: 10%;
}
@media only screen and (max-width: 1200px) {
    .link {
        max-width: 24px;
        max-height: auto;
    }
}
.swal-modal {
    background-color: #111111;
}
.swal-text {
    color: #cccccc;
    font-family: "Ubuntu", sans-serif;
}