body {
    background-color: #1e1e1e;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 1rem; */
    margin-inline: auto;
}

.background {
    position: absolute;
    top: -1%;
    left: -1%;
    height: 101%;
    width: 101%;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    height: 22%;
    width: 30%;
    margin: 10px;
    margin-top: -7%;
    margin-left: -15%;

    background-color: #434343;
    border-radius: 15px;
    padding: 10px;

    box-shadow: 0px 0px 1vh 1vh rgba(0, 0, 0, 0.5);
}

.box_title {
    grid-column-start: 3;
    grid-column: span 3;
    position: inherit;
    text-align: center;
    color: #cccccc;
    font-size: 2vw;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    padding-top: 1%;
}

.box_text {
    grid-column-start: 3;
    grid-column: span 3;
    text-align: center;
    color: #cccccc;
    font-size: 1vw;
    font-weight: normal;
}

.pronouns {
    text-align: center;
    grid-column: span 3;
    grid-column-start: 4;
    color: #ffb9e7;
    font-size: 0.8vw;
}

.pfp {
    display: block;
    margin-left: 25%;
    margin-right: 75%;
    grid-row: span 4;
    grid-column: span 2;
    padding: 0.5rem;
    width: 45%;
    height: auto;
}

.link {
    align-content: center;
    max-width: 50%;
    padding: 10%;
}
#link1 {
    grid-column-start: 3;
}
#link2 {
    grid-column-start: 5;
}

.flag {
    position: absolute;
    left: 100%;
    margin-left: -4vw;
    margin-top: 1vw;
    font-size: 3vw;
}

.apology {
    font-size: 1vw;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    color: #cccccc;
}
.swal-modal {
    background-color: #111111;
}
.swal-text {
    color: #cccccc;
    font-family: "Ubuntu", sans-serif;
}